## Customer Information
Customer ID: {{ call_event.customer_id }}
Call ID: {{ call_event.id }}
Reason: {{ call_event.sdc }}
Call timestamp: {{ call_event.timestamp }}
Call history: {{ call_history }}
